<div class="barwhite">
  <div class="bartextwhite">
    VM Removal
  </div>
</div>
<div id="popuptext">
  Delete <%= params[:dgroup] %> VM?<br/>
  <a href="#" onClick="deletevm<%= params[:dgroup] %>()">Delete</a> &nbsp; <a href="#" onClick="unfillscreen();">Cancel</a>
</div>
