<div class="barwhite">
  <div class="bartextwhite">
    User Administration
  </div>
</div>
<div id="popuptext">
  Delete <%= params[:username] %>?<br/>
  <a href="/userinfo/execdelete/<%= params[:username] %>">Delete</a> &nbsp; <a href="#" onClick="unfillscreen();">Cancel</a>
</div>
