<div class="barwhite">
  <div class="bartextwhite">
    VM Control
  </div>
</div>
<div id="popuptext">
  Start <%= params[:groupname] %> VM?<br/>
  <a href="#" onClick="startvm<%= params[:groupname] %>()">Start</a> &nbsp; <a href="#" onClick="unfillscreen();">Cancel</a>
</div>
